@using ProyectoIntegrador.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Inicio de sesión";
}
<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/customs.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/icono.ico" />
<style>
        .loginLabel {
            width: max-content;
            height: 1rem;
            margin-bottom: -1rem;
            transform: translate(0vw, -32px);
            color: #00000080;
            transition: all 0.1s linear;
            padding-left: 1vw;
        }

        .loginInput {
            height: 38px;
            font-size: 14px;
        }

        .loginInput:focus + .loginLabel, .notEmpty + .loginLabel {
            background: #ffffff80;
            padding: 1px 4px;
            text-align: left;
            transform: translate(5px, -48px);
            font-size: 12px;
            color: #80bdff;
        }

        .alert ul {
            margin-bottom: 0px;
        }

        #fullpg {
            background-image: url( @Url.Content("~/content/Imgs/bg2.png") );
            background-position: center;
            background-size: cover;
        }

</style>
</head>
<body class="bg-dark" style="height: 100%; width: 100%;">
    <div id="fullpg" class="d-flex justify-content-center align-items-center" style="height: 100%; width: 100%;">
        <div class="col-md-8 " style="height:100%">
            <div style="width: 100%; height: calc(100% - 2rem); margin: 2rem 0rem; background-color: #ffffff4a;">

            </div>
        </div>      
        <div class="col-md-4 ">
            <section id="loginForm" class="p-3" style="padding: 1rem 3rem !important; background-color: #ffffffbf; box-shadow: -2px 2px 7px 0px #0000005c;">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.noMostrarErrorSup == null || !ViewBag.noMostrarErrorSup) {
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    }
                    <h3>Datos de Ingreso</h3>
                    <hr />
                    <div class="form-group" style="display: flex; flex-direction: column;">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control loginInput" })
                        @Html.LabelFor(m => m.Email, new { @class = "loginLabel" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-text text-danger" })
                        @if (Model != null && Model.Email != null && !Model.Email.IsEmpty()) {
                            <script type="text/javascript">
                                document.querySelector('[name="Email"').classList.add('notEmpty');
                            </script>
                        }
                    </div>
                    <div class="form-group" style="display: flex; flex-direction: column;">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control loginInput" })
                        @Html.LabelFor(m => m.Password, new { @class = "loginLabel" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "form-text text-danger" })
                        @if (Model != null && Model.Password != null && !Model.Password.IsEmpty())
                        {
                            <script type="text/javascript">
                                document.querySelector('[name="Email"').classList.add('notEmpty');
                            </script>
                        }
                    </div>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-primary" href="~/Public/HomeInfo" style="margin-right: 3rem;">Pagina Principal</a>
                        <input type="submit" value="Iniciar sesión" class="btn btn-primary" style="margin-left: 5rem;">
                    </div>
                    
                }
            </section>
        </div>
        @*
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        *@
    </div>
    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    <script type="text/javascript">
        $(".loginInput").change(function () {
            if (this.value) {
                this.classList.add('notEmpty');
            } else {
                this.classList.remove('notEmpty');
            }
        });
    </script>
</body>
</html>
