<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VacunaApp</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/custom.css")
    @Styles.Render("~/Content/iziToast.css")
    @Styles.Render("~/Content/notice.min.css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/iziToast.js")
    @Scripts.Render("~/Scripts/notice.min.js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        window.spinner = new Notice();
        function showLoading() {
            window.spinner.showLoading({
                type: 'cube_zoom'
            });
        }

        function hideLoading() {
            window.spinner.hideLoading();
        }
    </script>
</head>
<body class="bg-light">
    <div class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            @Html.ActionLink("Proyecto Integrador", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    @if (ViewBag.Menus != null)
                    {
                        foreach (ProyectoIntegrador.App_Start.Filters.Objects.MenuDTO menu in ViewBag.Menus)
                        {
                            if (menu.EsPadre)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" id="navbarDropdown@menu.Datos.Etiqueta" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @menu.Datos.Etiqueta
                                    </a>
                                    <ul class="dropdown-menu text-white" aria-labelledby="navbarDropdown@menu.Datos.Etiqueta">
                                        @foreach (ProyectoIntegrador.App_Start.Filters.Objects.MenuDTO submenu1 in menu.Hijos)
                                        {
                                            if (submenu1.EsPadre)
                                            {
                                                <li class="dropdown-submenu">
                                                    <a class="dropdown-item dropdown-toggle">@submenu1.Datos.Etiqueta</a>
                                                    <ul class="dropdown-menu">
                                                        @foreach (ProyectoIntegrador.App_Start.Filters.Objects.MenuDTO submenu2 in menu.Hijos)
                                                        {
                                                            <li><a class="dropdown-item" href="{@submenu2.Datos.Url}">@submenu2.Datos.Etiqueta</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                <li><a class="dropdown-item" href="@submenu1.Datos.Url">@submenu1.Datos.Etiqueta</a></li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="{@menu.Datos.Url}">@menu.Datos.Etiqueta</a>
                                </li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container bg-white pt-5" style="flex-grow: 1;">
        @RenderBody()
    </div>
    <div class="container-fluid bg-transparent rounded-top footer d-flex justify-content-center align-items-center pt-2">
        <footer class="bg-transparent text-dark h5" style="width: 100%;">
            <div id="footer">
                <p>
                    <marquee direction=left>
                        Copyright &copy;  @DateTime.Now.Year VacunaApp Miguel Blanco - Camilo Quintana - Andres Perdomo
                    </marquee>
                </p>
            </div>
        </footer>

    </div>
    <script type="text/javascript">
        $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
            if (!$(this).next().hasClass('show')) {
                $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
            }
            var $subMenu = $(this).next('.dropdown-menu');
            $subMenu.toggleClass('show');
            $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
                $('.dropdown-submenu .show').removeClass('show');
            });
            return false;
        });
    </script>
    @Scripts.Render("~/Scripts/utils.js")
</body>
</html>
