<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VacunaApp</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/custom.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-light">
    <div class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
            @Html.ActionLink("Proyecto Integrador", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-white" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle text-white" id="navbarDropdownAdministrativas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administrativas
                        </a>
                        <div class="dropdown-menu text-white" aria-labelledby="navbarDropdownAdministrativas">
                            <a class="dropdown-item" href="/administrativos/personas">Personas</a>
                            <a class="dropdown-item" href="/administrativos/TipoIdentifiacions">TipoIdentificación</a>
                            <a class="dropdown-item" href="/administrativos/TipoUsuarioAfiliados">Tipo Usuario Afiliados</a>
                            <a class="dropdown-item" href="/administrativos/TipoAfiliados">Tipo Afiliados</a>
                            <a class="dropdown-item" href="/administrativos/Generos">Generos</a>
                            <a class="dropdown-item" href="/administrativos/Procedimientos">Procedimientos</a>
                            <a class="dropdown-item" href="/administrativos/ProcedimientoMaterial"> Material Procedimiento</a>
                            <a class="dropdown-item" href="/administrativos/CausaExternas">Causa Externa</a>
                            <a class="dropdown-item" href="/administrativos/RecetaMedicas">Receta Médica</a>
                            <a class="dropdown-item" href="/administrativos/RecetaMedicaMaterials">Receta Médica - Material</a>
                            <a class="dropdown-item" href="/administrativos/HistoriaMedicas"> Historia Médica</a>

                            <a class="dropdown-item" href="/administrativos/Afiliados">Afiliados</a>
                            <a class="dropdown-item" href="/administrativos/Empleados">Empleados</a>
                            <a class="dropdown-item" href="/administrativos/Cargos">Cargos</a>
                            <a class="dropdown-item" href="/administrativos/Proveedor">Proveedores</a>
                            <a class="dropdown-item" href="/administrativos/Municipios">Municipios</a>
                            <a class="dropdown-item" href="/administrativos/Departamentos">Departamentos</a>
                            <a class="dropdown-item" href="/administrativos/Sucursales">Sucursales</a>
                            <a class="dropdown-item" href="/administrativos/Consultorios">Consultorios</a>
                            <a class="dropdown-item" href="/administrativos/Citas">Citas</a>
                            <a class="dropdown-item" href="/administrativos/Finalidades">Finalidades</a>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container bg-white pt-5">
        @RenderBody()
        
        
    </div>
    

    @Scripts.Render("~/Scripts/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
<div class="container footer text-dark font-weight-bold h3">
    <footer>
        <div id="footer">
            <p><marquee direction=left>
            <p>&copy; @DateTime.Now.Year Miguel Guerrero - Camilo Quintana - Andres Perdomo     VacunaApp</p>
            </marquee></p>
        </div>
    </footer>
</div>
</html>
