@model ProyectoIntegrador.Models.DBModels.Pasillo

@{
    ViewBag.Title = "Detalles Pasillos";
}

<h2>Detalles Pasillos</h2>

<div>
    <h4>Pasillo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZonaF.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonaF.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
