@model ProyectoIntegrador.Models.DBModels.Empleado

@{
    ViewBag.Title = "Eliminar Empleados";
}

<h2>Eliminar Empleados/h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CargoF.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoF.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonaF.IdentificacionNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonaF.IdentificacionNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecidenciaMunicipioF.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecidenciaMunicipioF.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SucursalF.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SucursalF.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecidenciaBarrio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecidenciaBarrio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecidenciaDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecidenciaDireccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEgreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEgreso)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
