@model ProyectoIntegrador.Models.DBModels.Sucursal

@{
    ViewBag.Title = "Eliminar Sucursal";
}

<h2>Eliminar Sucursal</h2>

<h3>¿Estás seguro de eliminar la Sucursal?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MunicipioF.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipioF.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefonos)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
