@model IEnumerable<ProyectoIntegrador.Models.DBModels.PisoMaterial>

@{
    ViewBag.Title = "PisosMateriales";
}

<h2>Pisos Materiales</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaterialF.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PisoF.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCaducidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialF.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PisoF.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Posicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCaducidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
